<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$web_name}</title>
<link href="{$web_path}style/default/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$web_path}js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{$web_path}js/function_common.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
	if($('.container_nav').length <= 0)
	{
		$('.container').css('padding-top','10px');
	}
});
</script>
</head>

<body>
{if $c_name && !$not_nav}<div class="container_nav noprint"><a href="javascript:void(0);" onClick="history.go(-1);" class="container_back">返回</a>{$c_name} >> {$a_name}</div>{/if}
<div class="container">