<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$web_name}</title>
<link href="{$web_path}style/default/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$web_path}js/jquery-1.11.1.min.js"></script>
</head>

<body>
<div class="container_nav noprint"><a href="javascript:void(0);" onClick="history.go(-1);" class="container_back">返回</a>系统首页 >> 信息提示</div>
<div class="container">
<div class="box">
	<div class="tips">提示信息</div>
	<!-- <table width="100%" cellpadding="3" cellspacing="0" class="table">
		<tr>
			<td>杯子：库存1000，需求2000，差额1000</td>
		</tr>
		<tr>
			<td>待审核订单：15</td>
		</tr>
		<tr>
			<td>待生产订单：8</td>
		</tr>
		<tr>
			<td>杯子：库存1000，需求2000，差额1000</td>
		</tr>
		<tr>
			<td>待审核订单：15</td>
		</tr>
		<tr>
			<td>待生产订单：8</td>
		</tr>
		<tr>
			<td>杯子：库存1000，需求2000，差额1000</td>
		</tr>
		<tr>
			<td>待审核订单：15</td>
		</tr>
		<tr>
			<td>待生产订单：8</td>
		</tr>
	</table>
</div>
<div class="box">
	<div class="tips">待办事项</div>
	<table width="100%" cellpadding="3" cellspacing="0" class="table">
		<tr>
			<td>今天上午要去发货到XXX公司，订单号1409011545</td>
		</tr>
		<tr>
			<td>今天下午要去XXX公司会见客户</td>
		</tr>
		<tr>
			<td>今天上午要去发货到XXX公司，订单号1409011545</td>
		</tr>
		<tr>
			<td>今天下午要去XXX公司会见客户</td>
		</tr>
		<tr>
			<td>今天上午要去发货到XXX公司，订单号1409011545</td>
		</tr>
		<tr>
			<td>今天下午要去XXX公司会见客户</td>
		</tr>
	</table> -->
</div>
</div>
</body>
</html>