<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$web_name}</title>
<link href="{$web_path}style/default/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$web_path}{$web_path}js/jquery-1.11.1.min.js"></script>
<!--{if $refresh >= 0}-->
<meta http-equiv='Refresh' content='{$refresh};URL={$url}'>
<!--{/if}-->
</head>

<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center" valign="middle"><form action="{@url()}" method="post" class="login">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="40" valign="top" class="tips">信息提示
							<div class="line"></div></td>
					</tr>
					<tr>
						<td height="30" align="center">{$errorMsg}</td>
					</tr>
					<tr>
						<td height="30" align="center">
							<!--{if $backUrl}
							[<a href="{$backUrl}" class="blue">返回</a>] &nbsp; 
							{/if}-->
							[<a href="{$url}" class="blue"><span id="limit_time">点此直接跳转</span></a>] </td>
					</tr>
				</table>
			</form></td>
	</tr>
</table>
<!--{if $refresh >= 0}--> 
<script language='javascript' type='text/javascript'>
	var wait = '{$refresh}';
	var url = '{$url}';
	function showWaitTime() {
		if (wait <= 0) {
			document.location.href = url;	
			return;
		}
		document.getElementById('limit_time').innerHTML = wait + '秒后自动跳转';
		wait -= 1;
		setTimeout(showWaitTime, 1000);
	}
	showWaitTime();
</script> 
<!--{/if}-->
</body>
</html>
