<!--{include header.html}-->
<script type="text/javascript" src="{$web_path}js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
function sendEmail(obj)
{
	if($('.id_cls:checked').length <= 0)
	{
		alert('请选择要操作的记录');
		return false;
	}
	$('#opt_frm').submit();
	$(':button').attr('disabled',true);
}
</script>
<form action="" method="get" id="search_frm">
	<fieldset class="search">
		<legend>搜索</legend>
		<input type="hidden" name="c" id="c" value="Travel" />
		<input type="hidden" name="a" id="a" value="index" />
        订单号：<input type="text" name="re_confNumber" id="re_confNumber" value="{$re_confNumber}" />&nbsp;
		客户名称：<input type="text" name="re_customer" id="re_customer" class="txt_1" value="{$re_customer}" />&nbsp;
        出发日期：<input type="text" name="date1" id="date1" class="Wdate txt_1" value="{$date1}" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'date2\',{d:0});}'})" /> ~ <input type="text" name="date2" id="date2" class="Wdate txt_1" value="{$date2}" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'date1\',{d:0});}'})" />
		<input type="submit" value="搜索" />&nbsp;
		<input type="button" value="发邮件" onclick="sendEmail(this)" />
	</fieldset>
</form>
<form action="index.php?c=Travel&a=sendEmail" method="post" id="opt_frm">
<table width="100%" cellpadding="3" cellspacing="0" class="table">
	<tr>
		<th width="10" nowrap="nowrap"><input type="checkbox" onclick="chooseAll(this,'id_cls')" /></th>
		<th align="left">订单号</th>
		<th align="left">客户名称</th>
        <th align="left">一日游路线</th>
		<th align="left">出发航班</th>
		<th align="left">出发日期</th>
		<th align="left">目的地</th>
		<th align="left">返程航班</th>
		<th align="left">返程日期</th>
		<th align="left">邮箱</th>
		<th align="center">状态</th>
		<th align="center">操作</th>
	</tr>
	<!--{if $list}-->
	<!--{foreach $list as $val}-->
	<tr id="tr_{$val.re_id}">
		<td><input type="checkbox" name="re_id[]" value="{$val.re_id}" class="id_cls" /></td>
		<td align="left">{$val.re_confNumber}</td>
		<td align="left">{$val.re_customer}</td>
        <td align="left">{$val.re_roadLink}</td>
		<td align="left">{$val.re_arrivalFlight}</td>
		<td align="left">{$val.re_arrivalTime}</td>
		<td align="left">{$val.re_arrivalPlace}</td>
		<td align="left">{$val.re_departureFlight}</td>
		<td align="left">{$val.re_departureTime}</td>
		<td align="left">{$val.re_email}</td>
		<td align="center">{if $val.re_status}有效{else}无效{/if}</td>
		<td align="center">
        	<a href="index.php?c=Travel&a=view&re_id={$val.re_id}" target="_blank">查看</a>&nbsp;
        	<a href="index.php?c=Travel&a=add&re_id={$val.re_id}">编辑</a>
        </td>
	</tr>
	<!--{/foreach}-->
	<!--{/if}-->
</table>
</form>
<div class="page"><span>共&nbsp;{$totalNum}&nbsp;条记录，当前&nbsp;{$page}/{$totalPage}</span>{$pageHtml}</div>
<!--{include footer.html}-->