<!--{include header.html}-->
<script type="text/javascript">
function chooseAll(obj,cls)
{
	$(cls).prop("checked",$(obj).is(':checked'));
}
function chooseAlone(obj,cls)
{
	$(cls).prop("checked",false);
	$(obj).prop("checked",true);
}
function chooseUser()
{
	if($('.use_id_cls:checked').length <= 0)
	{
		alert('请选择人员');
		return false;
	}
	var use_id = '';
	var use_name = '';
	$('.use_id_cls:checked').each(function(index, element) {
		if(use_id == '')
		{
			use_id = $(this).val();
			use_name = $(this).attr('use_name')+'('+$(this).attr('use_no')+')';
		}
		else
		{
			use_id += ','+$(this).val();
			use_name += ','+$(this).attr('use_name')+'('+$(this).attr('use_no')+')';
		}
	});
	if(window.opener)
	{
		<!--{if $fun}-->
		window.opener.<!--{$fun}-->(use_id,use_name);
		<!--{else}-->
		window.opener.setUser(use_id,use_name);
		<!--{/if}-->
	}
	else
	{
		<!--{if $fun}-->
		window.dialogArguments.<!--{$fun}-->(use_id,use_name);
		<!--{else}-->
		window.dialogArguments.setUser(use_id,use_name);
		<!--{/if}-->
	}
	window.close();
}
function searchUser()
{
	var data = {};
	data.use_key = $('#use_key').val();
	data.use_status = $('#use_status').val();
	data.alone = '{$alone}';
	data.fun = '{$fun}';
	$('#search_btn').attr('disabled',true);
	$.post('index.php?c=User&a=chooseUser',data,function(rs){
		$('#search_btn').attr('disabled',false);
		$('#user_list').html(rs);
	});
}
</script>
<form action="index.php" method="get" id="search_frm">
<fieldset class="search">
	<legend>搜索</legend>
	<input type="hidden" name="c" id="c" value="User" />
	<input type="hidden" name="a" id="a" value="chooseUser" />
	姓名/工号：<input type="text" name="use_key" id="use_key" class="txt_w1" value="{$use_key}" />&nbsp;
	<select name="use_status" id="use_status">
		<option value="all">状态</option>
		<option value="1" {if $use_status == '1'}selected{/if}>在职</option>
		<option value="0" {if $use_status == '0'}selected{/if}>离职</option>
	</select>&nbsp;
	<input type="button" value="搜索" id="search_btn" onclick="searchUser()" />&nbsp;
	<input type="button" value="确认选择>>" onclick="chooseUser()" />
</fieldset>
</form>
<div id="user_list">
<!--{include User/userList.html}-->
</div>
<!--{include footer.html}-->